.idea
vendor
composer.lock
.env
.env.*
.disallow-routes
/data/files/*
/data/logs/*
!/data/files/.gitignore
!/data/logs/.gitignore
node_modules/
.sass-cache/
*css.map
/data/logs/*.log
/public/app.env.js
/bin/services/employee-total-learning-time.pid
bin/queue/*.log
bin/scripts/*.log
bin/services/*.log
/bin/backup/demo_account_sample/*
/data/db/*
**/.DS_store
.vscode
/system/wxpay/cert/*.p12
/system/wxpay/cert/*.pem
/.phpintel
/docs/tmp
.project
/data/account_templates
WW_*.txt
MP_*.txt
bin/queue/data/
bin/services/caseStoreTime.txt
bin/services/examTime.txt
bin/services/learningPackTime.txt
data/scorm/*
/public/.history/
/.history
/.CodeCounter
.htaccess
/test
